<form class="" action="/{{action}}" method="post" style="background: gray; padding: 10px;">
  <input type="text" name="email" value="" placeholder="Email...">
  <input type="password" name="password" value="" placeholder="Password...">
  <button type="submit" name="button">Submit</button>
</form>
