<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>

    <h1 style="display: inline-block;">{{ heading }}</h1>
    <p style="display: inline-block; color: red; margin-left: 10px">{{ error }}</p>

    {{> accountForm action=formAction}}

    <a href="http://127.0.0.1:3000/login">Login</a>
    <a href="http://127.0.0.1:3000/user">Create Account</a>

    {{> footer}}

  </body>
</html>
